<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings file="">
    <clear />
    
    <!--  Credentials. Enter your api key below. Refer to the documentation -->
    <add key="FaceAPIKey" value="e48f5878946846d2a7ab4452b5b4d324"/>                <!-- Sign up here: http://gallery.azureml.net/MachineLearningAPI/b0b2598aa46c4f44a08af8891e415cc7 -->  
    <add key="SpeechRecognitionAPIKey" value="52e45dc14f5a40eba4bf44501e422622"/>   <!-- Sign up here: http://gallery.azureml.net/MachineLearningAPI/89d229231a72471ebf7280fb5bd3e18c -->
    <add key="TextAnalyticsAPIKey" value="MYwTIjhTYRrQTCzg030Fb8Dx6C8COQ95pUj2N4quQM" />      <!-- Sign up here: http://gallery.azureml.net/MachineLearningAPI/6948e0a54fe44e6fb70cbcc143b31298 -->  

    <!--  set to true if you want to identify specific people you have trained the face api to recognise.  See the TrainFaceDetector function so see how.  -->
    <add key="IdentifySpecificPeople" value="false" />

    <!--  URLS when a single mail person is in front of the camera. -->
    <add key ="MaleYoungerThan12" value="http://24h.pchome.com.tw/prod/DEAS2N-A72808506?q=/S/DEAS2N"/>
    <add key ="MaleYoungerThan18" value="http://24h.pchome.com.tw/prod/DEAS7V-A73575836?q=/S/DEASLT"/>
    <add key ="MaleYoungerThan25" value="http://24h.pchome.com.tw/prod/DEAS7V-A80075802"/>
    <add key ="MaleYoungerThan32" value="http://24h.pchome.com.tw/prod/DEASIY-A90062TOF?q=/S/DEASIY"/>
    <add key ="MaleYoungerThan40" value="http://24h.pchome.com.tw/prod/DGBC01-A62037330"/>
    <add key ="MaleYoungerThan50" value="http://24h.pchome.com.tw/prod/DMAD1H-A9006MVY7?q=/S/DEBY20"/>
    <add key ="MaleYoungerThan55" value="http://24h.pchome.com.tw/prod/DEAC3S-A9005VVIZ"/>
    <add key ="MaleYoungerThan60" value="http://24h.pchome.com.tw/prod/DABC9B-A9006ICYH?q=/S/DABC9B"/>
    <add key ="MaleOlder" value="http://24h.pchome.com.tw/prod/DABC9B-A9006ICYH?q=/S/DABC9B"/>


    <!--  URLS when a single female person is in front of the camera. -->
    <add key ="FemaleYoungerThan12" value="http://24h.pchome.com.tw/store/DEASLJ"/>
    <add key ="FemaleYoungerThan18" value="http://24h.pchome.com.tw/region/DDAT"/>
    <add key ="FemaleYoungerThan25" value="http://24h.pchome.com.tw/prod/DIBFH6-A90051PPT?q=/S/DIBFH6"/>
    <add key ="FemaleYoungerThan32" value="http://24h.pchome.com.tw/region/DEAI.htm"/>
    <add key ="FemaleYoungerThan40" value="http://24h.pchome.com.tw/store/DEAWCZ"/>
    <add key ="FemaleYoungerThan50" value="http://24h.pchome.com.tw/prod/DMAG31-A75164607"/>    
    <add key ="FemaleYoungerThan60" value="http://24h.pchome.com.tw/prod/DABC9B-A9006QCDG"/>
    <add key ="FemaleOlder" value="http://24h.pchome.com.tw/prod/DABC9B-A9006ICYH?q=/S/DABC9B"/>

    <!--  URLS when at least 2 adults are in front of the camera -->
    <add key ="TwoOrMoreAdults" value="http://www.macaronigrill.com/"/>

    <!--  URLS when there is a child and at least another person-->
    <add key ="MorethanOnePersonAndChild" value="http://www.houzz.com/photos/25561206/Triumph-Play-Systems-Quad-Space-Saver-traditional-kids-playsets-and-swing-sets"/>

    <!-- URL related to speech APIs -->
    <add key ="SpeechKeyword1" value="expensive"/>
    <add key ="SpeechKeyword1Url" value="http://www.kmart.com/backyard-discovery-prairie-ridge-cedar-swing-set-free/p-004V004725841000P?prdNo=4"/>

    <add key ="SpeechKeyword2" value="fish"/>
    <add key ="SpeechKeyword2Url" value="http://www.bonappetit.com/test-kitchen/ingredients/article/best-seafood-restaurants"/>

  </appSettings>
</configuration>